body {
    background-color: #fafdf3;
    margin: 0;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

.header {
    position: fixed;
    left: 50% ;
    transform: translate(-50%);
    font-family: helvetica;
}

.headerText {
    display: block;
    font-size: 3.5em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.main {
    position: fixed;
    left: 50% ;
    transform: translate(-50%);
    font-size: 4em;
    font-weight: bold;
    padding-top: 10%;

}
.myTime {

}